
@import url('https://fonts.googleapis.com/css?family=Raleway:300i,400,700,900');
@import url('https://fonts.googleapis.com/css?family=Lato');

body{
    font-family: 'lato', sans-serif;
    font-weight: 300;
    overflow-x: hidden;    
}


/* Nav */
nav{
    background-color: rgba(73, 102, 138, 0.9);
    border-bottom: .1px solid rgba(105,121,141,.9);
    position: fixed; 
    z-index:1000;
    font-size: 10px;
    height: 75px;
    padding-top: 10px;
    padding-bottom: 10px;
    top: 0;
}

.logo {
    display: inline-block;
    height: 100%;
}

nav ul{
margin: 0;
padding: 0;
list-style: none;
float: right;
margin-right: 5em;
font-family: 'Lato', sans-serif;
font-size: 6px;
font-weight: 200;
font-style: normal;
}

nav a{
color: white;
font-size: .8em;    
text-decoration: none;  
}

/* Nav Media Query */
/* Media Queries */
@media(max-width: 79rem){
    nav ul li a{
        font-size: 13px;
    }

}
@media(max-width: 75rem){
    nav ul li a{
        font-size: 11px;
    }
}
@media(max-width: 72rem){
    nav ul li a{
        font-size: 9px;
    }
}
@media(max-width: 70rem){
    .carousel img{
        height: 70vh;
    }
    nav ul li a{
        font-size: 8px;
    }

}
@media(max-width: 68rem){
    .carousel img{
        height: 70vh;
    }
    nav ul li a{
        font-size: 7px;
    }

}

@media(max-width: 60rem){
    .carousel img{
        height: 60vh;
    }
}
@media(max-width: 50rem){
    .carousel img{
        height: 50vh;
    }
}
@media(max-width: 40rem){
    .carousel img{
        height: 40vh;
    }
    nav{
        height: 75px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

/* Services hover effect */
/* @import url(https://fonts.googleapis.com/css?family=Raleway);


body{
  background: #f9f9f9;
  font-size: 10px;
  font-family: 'Raleway', sans-serif;
}

.title{
    background: pink;
    width: 300px;
    border: 1px solid red;
}

.main-title{
  color: #2d2d2d;
  text-align: center;
  text-transform: capitalize;
  padding: 0.7em 0;
}

.my-container{
  padding: 1em 0;
  float: left;
  width: 33.333%;
}

.my-container .title{
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 10px;
}

.content {
  position: relative;
  width: 90%;
  max-width: 200px;
  margin: auto;
  overflow: hidden;
  border: 1px solid red;
  
}

.content .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 1;
}

.content-image{
  width: 100%;
}

.content-details {
  position: absolute;
  padding-top: 10em;
  padding-left: 2em;
  padding-right: 2em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details {
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

.content-details p{
  color: #fff;
  font-size: 0.8em;
}

.fadeIn-bottom{
  top: 80%;
}

.fadeIn-top{
  top: 20%;
}

.fadeIn-left{
  left: 20%;
}

.fadeIn-right{
  left: 80%;
}
 */



/* Card Styles */
 .card-reveal{
    color: #ffffff;
    background-color: rgba(0,0,0,0.7) !important;
  }
  div.card-reveal span.card-title{
    color: #ffffff !important;
  }
  .tabs{
    background-color: transparent;
  }
  td, th{
    padding: 5px 5px !important;
  }
  table.highlight>tbody>tr:hover{
    background-color: rgba(238,110,115,0.6);
  }
  input[type=search]:focus{
    border-bottom: 1px solid #ee6e73 !important;
    box-shadow: 0 1px 0 0 #ee6e73 !important;
  }
  #services-row h3{
    background: rgb(168, 168, 168);
     margin-bottom: -8px; 
     color: white; 
     text-align: center; 
     font-family: 'lato', sans-serif; 
     font-weight:300; 
     font-size: 26px; 
     padding: 0.5em 0.5em 0.5em 0.5em;
  }

  #services-row ul li{
    list-style-type: disc;    
    cursor: crosshair;
    
  }
  #services-row h3:hover{
    background-color: rgb(3,166,154);
}
/* Footer */
.page-footer{
    background-color: rgb(234,235,235);
    color: black;
    box-shadow: 0 -10px 10px -5px #333; 
}

.fa{
    color: rgb(245,129,44);
 }

 .page-footer ul li{
     /* text-decoration: underline; */
     margin: 10px;
 }

.medium:hover{
    color:rgb(245,129,44);
    transition: .25s ease-in;
}

.my-l{
    background-color: rgba(0,0,0,0.5);
    position: relative; 
    z-index: 2;
    height: 50px;
    width: 100%;
    top: 0;
    margin-top: -12px;
    color: white;
}